@import "tailwindcss";

@import "uploadthing/tw/v4";
@source "../node_modules/@uploadthing/react/dist";

@theme {
  --font-sans:
    var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  /* --- ADD THESE --- */
  /* Define the abstract roles */
  --color-background: var(--color-gray-900); /* The main page background */
  --color-surface: var(--color-gray-800); /* Cards, sidebars, navbars */
  --color-border: var(--color-gray-700); /* Borders for dark backgrounds */
  --color-text-bright: var(--color-gray-300);
  --color-text-medium: var(--color-gray-400);
  --color-text-dark: var(--color-gray-500);
}

/* Hide scrollbar but keep scroll */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}

/* Thin scrollbar */
.scrollbar-thin {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #4b5563 transparent; /* thumb color / track color */
}

.scrollbar-thin::-webkit-scrollbar {
  height: 10px; /* horizontal scrollbar thickness */
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #4b5563; /* gray-700 */
  border-radius: 9999px;
}

.scrollbar-thin::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}
